<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<!-- #######头部###### -->
<head>
    <title></title>
    <!-- 额外的css -->
</head>
<!-- ################ -->

<body>
<!-- 用来显示当前的页面大小标题 -->
<section layout:fragment="content_header">
    <h1>
        <small>Console</small>
    </h1>
</section>

<!-- 用来显示真正的内容 -->
<section layout:fragment="content">


    <div class="row">
        <!--<div class="col-xs-12">-->
            <!--<div class="box">-->
                <!--<div class="page-header">-->
                    <!--<h1>出错了</h1>-->
                <!--</div>-->
                <!--<div class="page-header">-->
                <!--<h2>你没有权限访问本页面或者本页面不存在！</h2>-->
            <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.box &ndash;&gt;-->
        <!--</div>-->
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h2><i class="icon fa fa-ban"></i>出错了 !</h2>
            <h3>
                你没有权限访问本页面或者本页面不存在
            </h3>
        </div>
    </div>

</section>

<!-- #######页脚###### -->
<footer layout:replace="footer">
</footer>
</body>
</html>



